<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deals</title>
</head>
<body>
    <% if(wish.length > 0){ %>
            <% wish.forEach( wish => { %>
                <a class="product" href="/<%= wish.ProductID %>">
                    <div class = "product">
                        <h3 class = "productName"><%= wish.ProductName %></h3>
                        <p>Product type: <%= wish.ProductType %></p>
                        <p>Description: <%= wish.Description %></p>
                        <% if(wish.CompanyName != null){ %>
                            <p>Company: <%= wish.CompanyName %></p>
                        <% } %>
                        <p class = "price">Cost: ₹ <%= wish.Price %></p>
                    </div>
                </a>
                
            <% }) %>
        <% }else { %>
            <p>No results</p>
        <% } %>
</body>